<!DOCTYPE html>
<html>
<head>
	<title>Acortador URL</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/css/css.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  	<link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
  	<script type="text/javascript" src="static/js/script.js"></script>
</head>
<body>
	<div class="topnav" id="myTopnav">
		<a id="home" target="_blank" href="{{host}}"><img src="{{ url_for('static', filename='img/icon.png') }}" alt="Home"></a>
		<a target="_blank" href="{{ source_code }}"><i class="fab fa-github"></i> Source code</a>
		<a target="_blank" href="{{ dev_info[0] }}"><i class="fas fa-user"></i> {{ dev_info[1] }}</a>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		    <i class="fa fa-bars"></i>
		</a>
	</div>
	<div id="content">
		<form method="post" class="style-1" action="">
			<div class="long-url">
				<div class="content-long">
					<label class="texto">URL largo:</label>
					<br>
					<input type="text" name="URLLargo" id="URLLargo" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" >
				</div>
			</div>
			<div class="short-url">
				<div class="content-short">
					<label class="texto">URL acortada:</label>
					<br>
					<div class="input-box">
					    <span class="unit">{{host}}</span>
					    <input type="text" name="URLCorto" id="URLCorto" autofocus="autofocus" placeholder="video">
					</div>
				</div>
			</div>
			<div>
		      	<center>
		      		<br>
		      		<button class="button" type="submit">Cortar</button>
		      	</center>
		    </div>
		</form>
	</div>
	{% if yaUsado %}
			<div class="alert">
			  	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
				<p class="if-elements">{{yaUsado}}</p>
			</div>
    {% endif %}
  	{% if not urlCorto %}
  	{% else %}
	  	<center>
		  	<p></p>
		    <div class="alert-2">
			  	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
				<p class="if-elements">Tu URL personalizada es: <a href= "{{urlCorto}}" target="_blank" style="color: white;"> {{urlCorto}}</a></p>
			</div>
	  	</center>
  	{% endif %}
</body>
</html>
